#ap-droparea.highlight {
    background-color: aliceblue;
    outline: #c0b7b7 solid 1px;
    border-style: solid;
}

#ap-message {
    text-align: center;
    font-family: monospace;
    font-size: 1.1em;
    padding: 10px 0 20px 0;
    cursor: pointer;
    line-height: 1.5em;
}

.ap-box-icon {
    width: 100%;
    height: 80px;
    fill: #9a9da4;
    display: block;
    margin-bottom: 40px;
}

.ap-box-icon:hover {
    fill: #cdd1d8;
}

.ap-href {
    color: #9a9da4;
}

.ap-href:hover {
    color: #cdd1d8;
}

#ap-gallery {
    margin-bottom: 15px;
}

#ap-droparea {
    border: #c0b7b7 dashed 2px;
    border-radius: 0;
    margin: 0 auto;
    min-height: 150px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
}

.ap-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    min-height: 100px;
}

.ap-preview .ap-image img {
    display: block;
}

.ap-image {
    border-radius: 13px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
}

.ap-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #9eb6ba;
    border-radius: 13px;
    cursor: default;
}

.ap-preview:hover .ap-overlay {
    opacity: 1;
}

.ap-preview .ap-details {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.ap-details .ap-name, .ap-details .ap-size {
    overflow: hidden;
    width: 115px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ap-details .ap-name {
    font-size: 0.6em;
    font-family: monospace;
}

.ap-details .ap-size {
    font-size: 1.2em;
    padding: 5px 0;
    font-family: monospace;
}

.ap-modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
}

.ap-modal-content {
    position: relative;
    transform: translate(0px, -50%);
    top: 50%;
    text-align: center;
}

.ap-modal-content .ap-slides img {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 80%;
}

.ap-slides .ap-slide-name {
    font-size: 1.3em;
    padding: 15px 0 5px 0;
    font-family: monospace;
}

.ap-slides .ap-slide-size {
    font-size: 1.6em;
    font-family: monospace;
}

@media only screen and (max-height: 500px) {
    .ap-modal-content .ap-slides img {
        max-height: 200px;
    }
}

@media only screen and (max-height: 300px) {
    .ap-modal-content .ap-slides img {
        max-height: 200px;
    }
}