#upload {
    padding: 10px;
}

#submit {
    padding: 10px;
    opacity: 0;
}

/* hiding the input */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/* selected files */
#selected_files {
    margin: 10px 0;
    padding: 20px;
    border: #c0b7b7 dashed 4px;
    border-radius: 20px;
    width: 300px;
    min-height: 300px;
}

#selected_files .individualFile {
    padding: 3px;
}

/* file preview */
#filePreview .thumb img {
    width: 200px;
    padding: 10px;
}

/* styling the label */
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}


/* accessibility */
.inputfile + label {
    cursor: pointer;
}

/* keyboard navigation */
.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/* possible touch issues */
.inputfile + label * {
    pointer-events: none;
}