#aploader {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}

/* file preview */
.ap-message {
    text-align: center;
    font-family: monospace;
    font-size: 1.1em;
    padding: 10px 0 20px 0;
}

#ap-filepreview {
    border: #c0b7b7 dashed 3px;
    border-radius: 5px;
    margin: 2em auto;
    min-height: 150px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.ap-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.ap-preview .ap-image img {
    display: block;
}

.ap-image {
    border-radius: 10px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
}

.ap-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #9eb6ba;
    border-radius: 10px;
    cursor: default;
}

.ap-preview:hover .ap-overlay {
    opacity: 1;
}

.ap-preview .ap-details {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.ap-details .ap-name, .ap-details .ap-size {
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ap-details .ap-name {
    font-size: 0.8em;
    font-family: monospace;
}

.ap-details .ap-size {
    font-size: 1.2em;
    padding: 5px 0;
    font-family: monospace;
}